<body style="background-color:rgb(241, 241, 241); height: 100vh; width: 1350px;">
  <div style="display: flex;">
    <div style="width: 50%;">
      <div class="user_data" style="display: flex;">
        <div style="margin-left: 25%;">
          <h1 class="titles">Crear Evento</h1>
            <ul style="list-style-type:none">
                <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Nombre Evento" type="text">
                <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218); height: 150px;" placeholder="Descripcion" type="text">
                <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Ubicacion" type="text">
                <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Informacion de Contacto" type="text">
                <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Fecha Inicio" type="date">
                <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Fecha Fin" type="date">
                <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Tipo" type="text">
            </ul>
        </div>
      </div>
    </div>
    <div class="user_data" style="display: flex;">
      <div style="margin-left: 25%;">
        <h1 class="titles">Crear Equipo</h1>
          <ul style="list-style-type:none">
              <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Nombre Equipo" type="text">
              <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Institucion" type="text">
              <input class="data_list" style="width: 100%; background-color: white; border-color: rgb(218, 218, 218);" placeholder="Max Numero" type="text">
          </ul>
      </div>
    </div> 
  </div>
  <div style="display: flex;">
    <div style="width: 50%;">
      <button style="scale: 2; margin-left: 45%;">Crear Evento</button>
      <h5 style="margin-top: 5%;" class="message"></h5>
    </div>
    <div style="width: 50%;">
      <button style="scale: 2; margin-left: 42%;">Crear Equipo</button>
      <h5 style="margin-top: 5%; margin-left: 11%;" class="message"></h5>
    </div>
  </div>
</body>