<body style="display: flex; width: 1350px; padding-top: 1%; background-color: rgb(241, 241, 241);">
  <div style="width: 50%;">
    <h1 class="titles"><b>Equipos Disponibles</b></h1>
    <div style="margin-left: 35px; display: flex; grid-column-gap: 10px;">
      <h4 class="list_element" style="width: 40%;" >Nombre</h4>
      <h4 class="list_element" style="width: 20%;">Institucion</h4>
      <h4 class="list_element" style="width: 30%;">Max Miembros</h4>
    </div>
    <ul class="list">
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
      <li class="list_main">
        <h5 class="list_element2">Nombre Evento</h5>
        <h5 class="list_element2">Nombre Institucion</h5>
        <h5 class="list_element2">Numero</h5>
      </li>
    </ul>
  </div>
  <div style=" height: 100vh;border: 3px dashed rgb(153, 153, 153); margin-top: -1.5%;"></div>
  <div style="width: 50%; margin-left: 1%;">
    <div>
      <div style="height: 305px;">
        <h1 class="titles" style="margin-left: 3%; margin-bottom: 3%;"><b>Equipo Seleccionado</b></h1>
        <img class="main_images" src="https://grandluxorhotels.com/wp-content/uploads/2016/09/9323706488_7c288a9659_b.jpg" alt="evento" style="margin-left: 8%;">
      </div>
      <div style="margin-left: 14%;">
        <ul style="list-style: none;">
          <li class="data_list">Nombre</li>
          <li class="data_list">Institucion</li>
          <li class="data_list">Maximo de Integrantes</li>
        </ul>
      </div> 
      <div>
        <button style="margin-left: 18%; margin-top: 2%; scale: 2;"><b>Unirse</b></button>
        <button style="margin-left: 18%; margin-top: 2%; scale: 2;"><b>Salir</b></button>
      </div>
    </div>
      <h5 class="message" style="margin-top: 10%;">MENSAJE</h5>
  </div>
</body>