<body style="background-color:rgb(241, 241, 241); padding-top: 20px; width: 1350px;">
  <h1 class="titles">Historial</h1>
  <div style="margin-left: 0%; display: flex;">
    <h5 class="list_element">Nombre Evento</h5>
    <h5 class="list_element">Ubicacion</h5>
    <h5 class="list_element">Informacion Contacto</h5>
    <h5 class="list_element">Fecha Inicio</h5>
    <h5 class="list_element">Fecha Fin</h5>
    <h5 class="list_element">Equipos</h5>
  </div>
    <div class="list">
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
      <ul>
        <li class="data">
          <a class="data_element">Nombre Evento</a> 
          <a class="data_element">Ubicacion</a> 
          <a class="data_element">Informacion Contacto</a>
          <a class="data_element">Fecha Inicio</a>
          <a class="data_element">Fecha Fin</a>
          <a class="data_element">Equipos?</a>
        </li>
      </ul>
    </div>
</body>