<body style="height: 100vh; width: 1350px; padding-top: 2%;">
  <div class="form" style="margin-left: 28%;">
    <div class="title">Bienvenido</div>
      <div class="order">
        <div class="input-container ic2">
          <input placeholder="" type="text" class="input" id="firstname">
          <div class="cut"></div>
          <label class="iLabel" for="nombre">Nombre</label>
        </div>
        <div class="input-container ic2">
          <input placeholder="" type="text" class="input" id="lastname">
          <div class="cut cut-short"></div>
          <label class="iLabel" for="direccion">Direccion</label>
        </div>
        <div class="input-container ic2">
          <input placeholder="" type="text" class="input" id="email">
          <div class="cut cut-short"></div>
          <label class="iLabel" for="nacimiento">Fecha de Nacimiento</label>
        </div>
        <div class="input-container ic2">
          <input placeholder="" type="text" class="input" id="email">
          <div class="cut cut-short"></div>
          <label class="iLabel" for="email">Email</label>
        </div>
        <div class="input-container ic2">
          <input placeholder="" type="text" class="input" id="email">
          <div class="cut cut-short"></div>
          <label class="iLabel" for="telefono">Telefono</label>
        </div>
        <div class="input-container ic2">
          <input placeholder="" type="text" class="input" id="email">
          <div class="cut cut-short"></div>
          <label class="iLabel" for="organizacion">Organizacion</label>
        </div>
        <div class="input-container ic2">
          <input placeholder="" type="text" class="input" id="email">
          <div class="cut cut-short"></div>
          <label class="iLabel" for="profesion">Profesion</label>
        </div>
        <div class="input-container ic2">
          <input placeholder="" type="text" class="input" id="email">
          <div class="cut cut-short"></div>
          <label class="iLabel" for="cargo">Cargo</label>
        </div>
      </div>
    <button class="submit" type="text">Enviar</button>
  </div>
</body>
